# binaries
/bin/
/dist/
/windstream

# local secrets & state
*.pem
*.key
*.crt
/windstream.toml
/acme-cache/
/.env

# tooling
/node_modules/
/coverage.out
*.exe
ViGEmClient.dll
/logs/
/dev-data/
/windstream-data/
